* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.header .header__logo {
  width: 50px;
  min-width: 50px;
  min-height: 50px;
}

.header .header__iconos {
  width: 30px;
}

.footer .footer__logo {
  width: 50px;
  min-width: 50px;
  min-height: 50px;
}

.footer .footer__img {
  width: 20px;
}

.input1 {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.input1:focus {
  font-size: 20px;
}

#enter {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.none{
  display: none;
}

.show{
  display: flex;
  flex-direction: row;
  gap:10px;
}

.tarjetaEstadisticas{
  border: 1 solid blue;
  
}

.tarjetaPersonaje{
  width: 450px;
  border: black solid 4px;
  padding: 20px;
  box-shadow: 10px 10px 1px 1px black;
}

.card-container{
  display: flex;
  flex-direction: column;
  gap: 70px;
  
}

.btnClase{
  margin-top:10px;
}

.containerDificultad{

  display: flex;
  justify-content: center;
  margin:100px;
  height: 600px;
}

.dificultad{
  padding: 50px;
  width: 550px;
  height: 250px;
  border: black solid 4px;
}

/******TARJETA DE ESTADISTICAS******/
.tarjetaEstadistica{
  border-style: groove;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 450px;
  align-items: center;
  color: white;
  background: -webkit-linear-gradient(top, #f63b1a 0%, #000000 37%, #000000 100%)
}
.name{
  margin: 5px;
}
.type{
  font-size: 25px;
  margin-bottom: 20px;
}
.stats{
  border-width: 0px 0px 2px 0px;
  border-color: #ffff;
  border-style: ridge;
  font-size: 17px;
}
.statslist{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.tarjetaEstadistica ul{
  list-style: none;
}
.tarjetaEstadistica ul li{
  padding:3px;
}